<html>

<head>
    <title>index.ejs</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        function writeComment() {
            let form = document.getElementById("form_comment");
            axios({
                method: "post",
                url: "http://localhost:8000/visitor/write",
                data: {
                    name: form.name.value,
                    comment: form.comment.value
                }
            }).then((response) => {
                return response.data;
            }).then((data) => {
                // data = { id : }
                console.log(data);
                let html = "<tr id='tr_" + data.id + "'><td>" + data.id + "</td><td>" + form.name.value + "</td><td>" + form.comment.value +
                    "</td><td><button onclick='editComment(" + data.id + ")'>수정</button></td>" +
                    "<td><button onclick='deleteComment(" + data.id + ")'>삭제</button></td>";
                $("table").append(html);
            })
        }
        function editComment(id) {
            axios({
                method: 'get',
                url: 'http://localhost:8000/visitor/get?id=' + id
            })
                .then((response) => { return response.data; })
                .then((data) => {
                    console.log(data.data)
                    let form = document.getElementById("form_comment");
                    form.name.value = data.data.name;
                    form.comment.value = data.data.comment;
                    let html = "<button type='button' onclick='editDo(" + id + ");'>수정</button>" +
                        "<button type='button' onclick='editCancel();'>취소</button>";
                    $("form div").html(html);
                });
        }
        function editDo(id) {

            let form = document.getElementById("form_comment");
            axios({
                method: "patch",
                url: "http://localhost:8000/visitor/edit",
                data: {
                    id: id,
                    name: form.name.value,
                    comment: form.comment.value
                }
            }).then((response) => {
                return response.data;
            }).then((data) => {
                alert(data);
                let tr = document.getElementById("tr_" + id);
                let children = tr.children;
                $(children[1]).text(form.name.value);
                $(children[2]).text(form.comment.value);
                console.log(children);
                form.name.value = "";
                form.comment.value = "";
                let html = "<button type='button' onclick='writeComment();'>등록</button>";
                $("form div").html(html);
            })
        }
        function editCancel() {
            let form = document.getElementById("form_comment");
            form.reset();
            let html = '<button type="button" onclick="writeComment();">등록</button>';
            $("form div").html(html);
        }
        function deleteComment(id) {
            axios({
                method: "delete",
                url: "http://localhost:8000/visitor/delete",
                data: { id: id }
            }).then((response) => {
                return response.data;
            }).then((data) => {
                alert(data);
                $("#tr_" + id).remove();
            })
        }
    </script>
    <style>
        table {
            width: 500px;
            text-align: center;
        }
    </style>
</head>

<body>
    <form id="form_comment">
        <fieldset style="width: 300;">
            <legend>방명록 등록</legend>
            <input type="text" name="name" placeholder="이름"> <br>
            <input type="text" name="comment" placeholder="하고싶은 말"> <br><br>
            <div>
                <button type="button" onclick="writeComment();">등록</button>
            </div>
        </fieldset>
    </form>

    <table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <th width="10%">ID</th>
            <th width="20%">작성자</th>
            <th width="40%">방명록</th>
            <th width="15%">수정</th>
            <th width="15%">삭제</th>
        </tr>
        <% for (let i=0; i < data.length; i++ ) { %>
            <tr id="tr_<%=data[i].id%>">
                <td>
                    <%=data[i].id%>
                </td>
                <td>
                    <%=data[i].name%>
                </td>
                <td>
                    <%=data[i].comment%>
                </td>
                <td><button type="button" onclick="editComment('<%=data[i].id%>');">수정</button></td>
                <td><button type="button" onclick="deleteComment('<%=data[i].id%>')">삭제</button></td>
            </tr>
            <% } %>
    </table>
</body>

</html>